:ruby
  preview_path = @citation.new_record? ? works_cited.preview_citations_url : works_cited.preview_citation_url(@citation.id)
  citation_id = @citation.new_record? ? 'new' : @citation.id
= stylesheet_link_tag 'works_cited/application'
= javascript_include_tag 'works_cited/application'
= simple_form_for @citation, html: { id: "citation-#{citation_id}"} do |f|
  - if @citation.errors.any?
    #error_explanation
      %h2= "#{pluralize(@citation.errors.count, "error")} prohibited this citation from being saved:"
      %ul
        - @citation.errors.full_messages.each do |message|
          %li= message
  .shared-field
    = f.hidden_field :id
    = f.input :record, collection: @records, as: :grouped_select, group_method: :records, group_label_method: :record_type, label_method: :name, value_method: :id, selected: "#{@citation.record_type}:#{@citation.record_id}", include_blank: 'Select a Record'
    = f.input :citation_type, as: :select, collection: WorksCited.configuration.valid_citation_types, :input_html => {:onchange => "showFields('#{citation_id}', this.options[this.selectedIndex].value);"}
  - WorksCited.configuration.valid_citation_types.each do |citation_type|
    .fields{ class: "fields-#{citation_type}", style: 'display: none;' }
      = works_cited_type_fields f, citation_type
  %fieldset.works_cited_contributors
    %legend
      %h3 Contributors
    %div#works_cited_contributors
      = f.simple_fields_for :works_cited_contributors do |g|
        = render 'works_cited/contributors/contributor_fields', f: g
    = works_cited_link_to_add_fields 'Add Contributor', f, :works_cited_contributors, 'works_cited/contributors/contributor_fields'
  %fieldset#preview{ style: 'display: none;' }
    %legend
      %h2
        Preview
        %small (Real-time)
    .preview-html#preview-html
  .actions
    .button-wrapper= f.submit 'Save', class: 'button-large button-action'
:javascript
  showFields('#{citation_id}', '#{@citation.citation_type || 'book'}')
  startPreview('#{preview_path}', 'citation-#{citation_id}', 'citation')
  addFilterToSubmit()