%h1
  = @citation.citation_type.titleize
  %small
    - if @citation.container_title.present?
      = succeed '"' do
        = succeed @citation.title do
          =  '"'
      %em= @citation.container_title
    - else
      %em= @citation.title
%p#notice= notice

%h2 Preview
%p= works_cited_citation @citation

%h2 Details
%dl.dl-works_cited
  - WorksCited::Citation.columns.each do |column|
    :ruby
      value = @citation.send(column.name.to_sym)
    - if value.present?
      %dt= WorksCited::Citation.human_attribute_name(column.name)
      %dd= value
