= form_for @doodad do |f|
  - if @doodad.errors.any?
    #error_explanation
      %h2= "#{pluralize(@doodad.errors.count, "error")} prohibited this doodad from being saved:"
      %ul
        - @doodad.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :description
    = f.text_area :description
  .actions
    = f.submit 'Save'
