%p#notice= notice

%p
  %b Name:
  = @doodad.name
%p
  %b Description:
  = @doodad.description

= works_cited_list @doodad

= link_to 'Edit', edit_doodad_path(@doodad)
\|
= link_to 'Back', doodads_path
