= f.input :url, as: :string
= f.input :title
= f.input :edition, hint: 'like "1st ed."'
= f.input :volume, hint: 'like "vol. 1"'
= f.input :city
= f.input :publisher
= f.input :year
= f.input :media
= f.input :series
= f.input :pages, hint: 'like "pp. 150-53"'