:ruby
  container_parts = []
  container_parts << "Received by #{list_names(contributors.receivers)}" if contributors.receivers.any?
  container_parts << citation.publisher if citation.publisher.present?
  container_parts << citation.published_at.mla_datetime if citation.published_at.present?
  container_parts << link_to(citation.url.gsub(%r{https?://}, ''), citation.url).html_safe if citation.url.present?
- if contributors.authors.any?
  = "@#{contributors.authors.first.handle}."
- if citation.container_title.present?
  = succeed '"' do
    = succeed citation.title do
      =  '"'
  %em= "#{citation.container_title},"
- else
  = succeed '"' do
    = succeed citation.title do
      =  '"'
= "#{container_parts.join(', ')}.".html_safe
