:ruby
  container_parts = []
  container_parts << "Edited by #{citation.works_cited_contributors.editors.list_names}" if citation.works_cited_contributors.editors.any?
  container_parts << "Compiled by #{citation.works_cited_contributors.compilers.list_names}" if citation.works_cited_contributors.compilers.any?
  container_parts << "Translated by #{citation.works_cited_contributors.translators.list_names}" if citation.works_cited_contributors.translators.any?
  container_parts << citation.media if citation.media.present?
  container_parts << citation.edition if citation.edition.present?
  container_parts << citation.volume if citation.volume.present?
  container_parts << citation.number if citation.number.present?
  container_parts << citation.publisher if citation.publisher.present?
  container_parts << citation.year if citation.year.present?
  container_parts << citation.published_at.mla_date if citation.published_at.present?
  container_parts << citation.pages if citation.pages.present?
  container_parts << content_tag(:em, citation.online_database) if citation.online_database.present?
  container_parts << citation.doi if citation.doi.present?
  container_parts << link_to(citation.url.gsub(%r{https?://}, ''), citation.url).html_safe if citation.url.present?
- if citation.works_cited_contributors.authors.any?
  = "#{citation.works_cited_contributors.authors.list_names}."
- if citation.container_title.present?
  = succeed '."' do
    = succeed citation.title do
      =  '"'
  %em= "#{citation.container_title},"
- else
  %em= citation.title + '.'
= "#{container_parts.join(', ')}.".html_safe
- if citation.accessed_at.present?
  = "Accessed #{citation.accessed_at.mla_date}."
