- if citation.works_cited_contributors.authors.any?
  = "#{citation.works_cited_contributors.authors.list_names}."
- if citation.url.present?
  %em
    %span>= link_to citation.title, citation.url
    = '.'
- else
  %em
    %span>= citation.title
    = '.'
- if citation.works_cited_contributors.editors.any?
  = "Ed. #{citation.works_cited_contributors.editors.list_names}."
- if citation.works_cited_contributors.compilers.any?
  = "Comp. #{citation.works_cited_contributors.compilers.list_names}."
- if citation.works_cited_contributors.translators.any?
  = "Trans. #{citation.works_cited_contributors.translators.list_names}."
- if citation.edition.present?
  = "#{citation.edition} ed.."
- if citation.volume.present?
  = "Vol. #{citation.volume}."
- if citation.city.present?
  = "#{citation.city}:"
- if citation.publisher.present?
  = "#{citation.publisher},"
- if citation.year.present?
  = "#{citation.year}."
- if citation.media.present?
  = "#{citation.media.titleize}."
- if citation.series.present?
  = "#{citation.series}."
- if citation.published_at.present?
  = "#{citation.published_at.mla_date}."
- if citation.pages.present?
  = "#{citation.pages}"