:ruby
  container_parts = []
  container_parts << content_tag(:em, citation.container_title)
  container_parts << "Ed. #{citation.works_cited_contributors.editors.list_names}" if citation.works_cited_contributors.editors.any?
  container_parts << "Comp. #{citation.works_cited_contributors.compilers.list_names}" if citation.works_cited_contributors.compilers.any?
  container_parts << "Trans. #{citation.works_cited_contributors.translators.list_names}" if citation.works_cited_contributors.translators.any?
  container_parts << citation.edition if citation.edition.present?
  container_parts << citation.volume if citation.volume.present?
  container_parts << citation.number if citation.number.present?
  container_parts << citation.publisher if citation.publisher.present?
  container_parts << citation.year if citation.year.present?
  container_parts << citation.published_at.mla_date if citation.published_at.present?
  container_parts << "#{citation.pages}" if citation.pages.present?
- if citation.works_cited_contributors.authors.any?
  = "#{citation.works_cited_contributors.authors.list_names}."
- if citation.url.present?
  = succeed '."' do
    = succeed link_to(citation.title, citation.url) do
      = '"'
- else
  = succeed '."' do
    = succeed citation.title do
      = '"'
= "#{container_parts.join(', ')}.".html_safe
